

.content span {
    color: #ffa600;
}

.content h1 {
    text-transform: uppercase;
    font-weight: bold;
    /* text-align: center; */
}
.content {
    text-align: center;
    margin-top: 60px;
}

.buttttpm {
    margin-top: 30px;
}
.header {
    background: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2014/07/21/09/Mohamed-Salah.jpg);
    height: 500px;
    background-size: cover;
}

button.btn.btn-default.zorar1 {
    padding: 8px 30px;
    border-radius: 7px;
    background: #FF9800;
    color: #fff;
    border: 0;
}

button.btn.btn-default.zorar2 {
    padding: 8px 30px;
    border-radius: 7px;
    background: transparent;
    color: #FF9800;
}